@import url("/src/css/main.css");

/*variables*/
:root{
    --fuente-titulos : 'Montserrat', sans-serif;
    --fuente-parrafos1 :  'Poppins', sans-serif;
    --fuente-parrafos2 : 'Nunito Sans', sans-serif; 
    --color-principal1 : #d16464;
    --color-principal2 : #C44C4D;
    --color1 : #e67b7b;
    --color2 : #D15252 ;
    --color3 : #AB4343;
    --color4 : #DE5FDE; 
    --color5 : #E864A6;
    --color6 : #dc8eb7; 
    --color-fuente-claro1 : #f3f3f3;
    --color-fuente-claro2 : #F9E8E0;
    --color-fuente-claro3 : #F9E0F9;
    --color-fuente-claro4 : #DBC5D0;   
    --color-fuente-claro5 : #DBC9C5;
    --color-fuente-oscuro1 : #0000008c;
    --color-fuente-oscuro2 : #8C8C8C;
    --color-fuente-oscuro3 : #4D4D4D;
    --color-fuente-oscuro4 : #333333;
}

body{
    background-color: white !important;
}
/*Slider*/

#slider-frame{
    width: 100%;
    height: auto;
    margin: 0px auto;
    animation: slider 20s infinite alternate ease-in-out;
}

#slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;
}

#slider-frame li{
    list-style: none;
    width: 100%;
}

#slider-frame img{
    width: 100%;
    max-height: 870px;
    
}

/*animacion slider*/
@keyframes slider {
    0%{ margin-left: 0%;}
    20%{ margin-left: 0%;}

    
    25%{ margin-left: -100%;}
    45%{ margin-left: -100%;}

    
    50%{ margin-left: -200%;}
    70%{ margin-left: -200%;}

    
    
    75%{ margin-left: -300%;}
    95%{ margin-left: -300%;}
}


/*CONTENIDO*/
#contenido{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.wrap-central{
    text-align: center;
}

.wrap-central h2{
    width: 100%;
    font-size: 33px;
    color: var(--color-principal1);
    font-family: var(--fuente-parrafos2);
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color1);
}

.wrap-central p{
    width: 90%;
    margin: 0 auto;
    font-family: var(--fuente-parrafos2);
    color: var(--color-fuente-oscuro3);
    font-weight: 300;
    font-size: 16px;
}

.wrap-seccion{
    width: 80%;
    margin: 0px auto;
    margin-top: 20px;
    text-align: center;
    font-family: var(--fuente-parrafos2);
    color: var(--color-fuente-oscuro3);
    font-weight: 300;
    border-top: 1px solid var(--color1);
    font-size: 16px;
}

.wrap-seccion .titulo-seccion{
    color: var(--color-principal1);
    margin-bottom: 10px;
}



@media (min-width:800px){
    .wrap-seccion{
        display: flex;
        height: 100%;
        width: 100%;
    }

    .wrap-seccion .imagen-seccion{
        display: flex;
        width: 40%;
    }
    .wrap-seccion img{
        width: 100%;
        justify-content: center;      
        margin: 0px auto;
        margin-right: 10px;
    }
    
    .wrap-seccion .titulo-contenedor{
        width: 60%;
    }
    .wrap-seccion .titulo-seccion{
        margin-top: 10px;
    }
    .wrap-seccion .titulo-seccion,
    .wrap-seccion .parrafo{
        text-align: start;
    }


}

@media (min-width:950px){
    .wrap-seccion{
        width: 70%;
    }
}

@media (min-width:1081px){
    .wrap-seccion{
        width: 70%;
    }
}


