@import url("/src/css/main.css");

body{
    background-color: white !important;
}
/*Slider*/

#slider-frame{
    width: 100%;
    height: auto;
    margin: 0px auto;
    animation: slider 20s infinite alternate ease-in-out;
}

#slider-frame ul{
    display: flex;
    padding: 0;
    width: 400%;
}

#slider-frame li{
    list-style: none;
    width: 100%;
}

#slider-frame img{
    width: 100%;
    max-height: 870px;
    
}

/*animacion slider*/
@keyframes slider {
    0%{ margin-left: 0%;}
    20%{ margin-left: 0%;}

    
    25%{ margin-left: -100%;}
    45%{ margin-left: -100%;}

    
    50%{ margin-left: -200%;}
    70%{ margin-left: -200%;}

    
    
    75%{ margin-left: -300%;}
    95%{ margin-left: -300%;}
}


/*CONTENIDO*/
#contenido{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.wrap-central{
    text-align: center;
}

.wrap-central h2{
    width: 100%;
    font-size: 33px;
    color: var(--color-principal1);
    font-family: var(--fuente-parrafos2);
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color1);
}

.wrap-central p{
    width: 90%;
    margin: 0 auto;
    font-family: var(--fuente-parrafos2);
    color: var(--color-fuente-oscuro3);
    font-weight: 300;
    font-size: 16px;
}

.wrap-seccion{
    width: 80%;
    margin: 0px auto;
    margin-top: 20px;
    text-align: center;
    font-family: var(--fuente-parrafos2);
    color: var(--color-fuente-oscuro3);
    font-weight: 300;
    border-top: 1px solid var(--color1);
    font-size: 16px;
}


.wrap-seccion .imagen-seccion img{
    width: 250px;
    align-items: center;
    margin: 0px auto;
}

.wrap-seccion .titulo-seccion{
    color: var(--color-principal1);
    margin-bottom: 10px;  
}



@media (min-width:800px){
    .wrap-seccion{
        display: flex;
        height: 100%;
        width: 100%;
    }

    .wrap-seccion .imagen-seccion{
        display: flex;
        width: 40%;
    }
    .wrap-seccion .imagen-seccion img{
        width: 100%;
    }
    
    .wrap-seccion .titulo-contenedor{
        width: 60%;
    }
    .wrap-seccion .titulo-seccion{
        margin-top: 10px;
    }
    .wrap-seccion .titulo-seccion,
    .wrap-seccion .parrafo{
        text-align: start;
    }


}

@media (min-width:950px){
    .wrap-seccion{
        width: 85%;
    }

    .wrap-seccion .imagen-seccion img{
        width:100%;
        align-items: center;
        margin: 0 auto;
    }
}

@media (min-width:1081px){
    .wrap-seccion{
        width: 70%;
    }

    .wrap-seccion .titulo-contenedor{
        height: 100%; 
        margin-top: 30px;
    }
}


