
/*FUENTES*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/*variables*/
:root{
    --fuente-titulos : 'Montserrat', sans-serif;
    --fuente-parrafos1 :  'Poppins', sans-serif;
    --fuente-parrafos2 : 'Nunito Sans', sans-serif; 
    --color-principal1 : #d16464;
    --color-principal2 : #C44C4D;
    --color1 : #DE6A6A;
    --color2 : #D15252 ;
    --color3 : #AB4343;
    --color4 : #DE5FDE; 
    --color5 : #E864A6; 
    --color-fuente-claro1 : #f3f3f3;
    --color-fuente-claro2 : #F9E8E0;
    --color-fuente-claro3 : #F9E0F9;
    --color-fuente-claro4 : #DBC5D0;   
    --color-fuente-claro5 : #DBC9C5;
    --color-fuente-oscuro1 : #0000008c;
    --color-fuente-oscuro2 : #8C8C8C;
    --color-fuente-oscuro3 : #4D4D4D;
    --color-fuente-oscuro4 : #333333;
}

/*ESTILOS GENERALES*/
body{
    font-family: var(--fuente-titulos) !important;
    overflow-x: hidden;
}

/*MENU*/
#Inicio{
    display: flex;
    justify-content: center;
    background-color: var(--color-principal1) ;
    color: var(--color-fuente-claro1);
    font-family: var(--fuente-parrafos2) !important;
    margin: 0;
    padding: 0;
}
#menu{
    max-height: 80px !important;
}
#menu a{
    font-weight: 500;
    font-size: 30px !important;
    margin-left: 15px !important;  
    transition: all 200ms;
}
#menu a:hover{
    color: var(--color-principal1);    
    transform: scale(1.3, 1.3);
}

/*BANNER GENERAL*/

#bannerimagne i{
    font-size: 150px !important;
    color: var(--color-fuente-claro1) !important;
    text-shadow: 1px 1px 1px var(--color-fuente-oscuro3), 2px 2px 1px var(--color-fuente-oscuro3);
}

/*TITULO GENERAL*/
#titulo{
    font-weight: 600;
    font-family: var(--fuente-parrafos2) ;
    color: var(--color-fuente-oscuro4);
}

/*FOOTER*/
footer{
    background-color: var(--color-principal1);
    min-height: 100px;
}
footer p{
    color: var(--color-fuente-claro1);
    text-align: center;
}

#iconos i{
    font-size: 26px;
    padding: 0 8px;
    color: var(--color-fuente-claro1);
    margin-top: -15 !important;
}
#iconos i:hover{
    color: var(--color4);
}

/*MEDIA QUERIES*/

@media (max-width:992px) {
    #menu a:hover{   
        transform: none;
    }

    #menu{
        max-height: none !important;
    }
}