@import url("/src/css/main.css");

#contenedor{
    margin-bottom: 120px !important;
    width: 75%;
    margin: 0px auto;
    display: flex;
}

#video{
    margin: 0px auto;
    margin-top: 20px;
    width: 90%;
}
